body, html {
  height: 100%;
}

.center-block {
    text-align: center;
}

body {
  background: #111 !important;
  color: white !important;
  font-family: 'Arial', sans-serif;
}

.vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-block {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 60px;
}

input {
  color: #111; 
}

.special {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  /*width: 200px;*/
  /*height: 200px;*/
  max-width: 600px;
  max-height: 600px;
  font-size: 20px;
}

.highlight {
  font-style: italic;
  font-weight: bold;
}

/*.fa-facebook-official {
  color: white;
  font-size: 60px !important;
  margin-top: 30px;
}
*/

#tags {
  font-size: 25px;
  color: white;
}

.fa:before {
  font-size: 50px;
}

a {
  color: red;
}